@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&display=swap")
layer(utilities);
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap")
layer(utilities);

@theme {
    /* Custom Colors */
    --color-coffee-white: #fefdf5;
    --color-coffee-black: #021928;
    --color-coffee-brown: #b59c85;
    --color-coffee-alabaster: #ece5d9;

    /* Serenade Color Palette */
    --color-serenade-50: #ffffff;
    --color-serenade-100: #fffefc;
    --color-serenade-200: #fffefa;
    --color-serenade-300: #fcfaf2;
    --color-serenade-400: #fcf7ed;
    --color-serenade-500: #faf1e4;
    --color-serenade-600: #e0ceb8;
    --color-serenade-700: #ba9d7f;
    --color-serenade-800: #967253;
    --color-serenade-900: #704a2e;
    --color-serenade-950: #472713;

    /* Font Families */
    --font-kodchasan-svg: "Kodchasan", "sans-serif";
    --font-gluten: "Gluten", "sans-serif";
    --font-pacifico: "Pacifico", "cursive";
    --font-kodchasan: "Kodchasan", "sans-serif";
    --font-tilt-neon: "Tilt Neon", "cursive";

    /* Font Sizes */
    --font-size-2xs: 0.65rem;
    --font-size-3xs: 0.5rem;
    --font-size-6.5xl: 4.125rem;
    --font-size-7xl: 5rem;

    /* Border Widths */
    --border-width-3: 3px;
}

@utility no-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@layer utilities {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --foreground-rgb: 255, 255, 255;
            --background-start-rgb: 0, 0, 0;
            --background-end-rgb: 0, 0, 0;
        }
    }

    body {
        color: rgb(var(--foreground-rgb));
        background: linear-gradient(
                to bottom,
                transparent,
                rgb(var(--background-end-rgb))
            )
            rgb(var(--background-start-rgb));
    }
}

.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
}
